# تجاهل البيئة الافتراضية
venv/
env/

# تجاهل ملفات بايثون المؤقتة
__pycache__/
*.pyc

# تجاهل ملفات النظام
.DS_Store

# تجاهل ملفات النماذج (إذا كنت لا تريد رفع الملفات الثقيلة جداً أو الحساسة)
# .pkl  
build/
dist/
*.exe
*.pyz
*.pkg